<main class="main">

  <!-- Breadcrumb -->
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item">Home</li>

    <li class="breadcrumb-item active"><a href="#">Dashboard</a></li>
  </ol>

  <a name="payoutchart"></a>

  <div class="container m-t-md">

    <div class="row m-t-md">
      <div class="col-xs-12 col-md-12">

        <!-- Zozo Tabs Start-->
        <div id="tabbed-nav">

          <!-- Tab Navigation Menu --> 
          <ul>
            <li><a>Q1 2017 JANUARY</a></li>
            <li><a>SERVICE ADVISOR REWARDS</a></li>
            <li><a>SERVICE TECHNICIAN REWARDS</a></li>
            <li><a>PARTS PERSONNEL REWARDS</a></li>
          </ul>

          <!-- Content container -->
          <div>

            <!-- Overview -->
            <div class="col6">
              <h4>Start The New Year in Gear</h4>
              <p>
                Transmissions, Trans Axles and T-Cases are continuing on the January Payout Chart. Earn on Customer Pay and Internal Repair
                Orders ($25 Service Techs, $20 Service Advisors, $5 override for Service Managers). </p>
              <h4>Pad Your Earnings!</h4>
              <p>January only - Advisors, Technicians and Parts Personnel can now earn $1 for every OE and Magneti Marelli Brake
                Pad Kit! *Parts and Service Managers will earn a 10% override.</p>
              <h4> Uconnect, U-earn!</h4>
              <p>
                Service Advisors earn $10 for each UCONNECT activation you perform! Rules are on the Marketing Page. Find Your Earnings Hotspot
                with Mopar Wiﬁ Formerly the Mopar Connect Module, the newly branded Mopar Wifi is here to ring in the New
                Year! Start Me Up! The Mopar Remote Starter made a return to the menu last month and it's back for more!
              </p>
              <h4>Vroom Vroom</h4>
              <p>Mopar Engines continue into 2017! Advisors and Technicians can both rev up earnings. </p>
              <h4>MVP Update </h4>
              <p>
                Are you ready for the new "Road Ready" MVP Plan? See MVP home page for details. New Calendar Year = Continued Opportunities
                with wiADVISOR! wiADVISOR continues to pay $2 on any MVP Plan sold using wiADVISOR technology.
              </p>
              <h4>Boost Your Sales Competition</h4>
              <p>December Boost winners will be announced on January 15th. The program continues into 2017! Top Earners will
                get $50 on their Rewarding Excellence Card. Top 3 sellers of MVP will also earn $50. See Marketing tab for
                details. </p>
              <h4> Q1 2017 January - Rewards to Note</h4>
              <p>
                Dart/Ram All Weather Mats and Dart/Ram Wireless Battery Charger Kits are back, as well as the Cell Phone Hands Free Kit.
                Winter is here to stay, so make sure these items are in stock and flying off the shelf....Slush Mat Kits,
                Dart Splash Guards, Fuel System Cleaner, Rain Repellent, Spray Paint/Primer and the Jeep Freedom Top Wrench.
              </p>
              Go to your positional sheet to see how/if these reward items apply to you.

<!--</div>  End Col 6 -->
    <div class="col6">
   </div> <!-- End Col 6 -->
            </div>

            <!-- Subscribe -->
            <div class="z-content-pad">
              <!-- Zozo Tabs 2 (nested) Start-->
              <div class="nested-tabs">

                <!-- Nested Tab Navigation Menu -->
                <ul>
                  <li><a>MOPAR PARTS & ENGINES</a></li>
                  <li><a>MVP PLANS</a></li>
                  <li><a>MOPAR ACCESSORIES</a></li>
                  <li><a>MAGNETI MARELLI RETAIL PARTS</a></li>
                  <li><a>wiADVISOR</a></li>
                  <li><a>EXPRESS LANE</a></li>
                </ul>

                <!-- Nested Content container -->
                <div>
                  <!-- Twitter -->
                  <div>
                    <h4>MOPAR PARTS &amp; ENGINES</h4>
                    <p> Transmissions/Trans Axles/T-Cases $20.00</p>
                    <p> Brake Pads (OE, MM) $1.00</p>
                    <p> Mopar Engines $40.00</p>
                    <p> N45 & N46 Recall Rewards $10.00</p>
                  </div>
                  <!-- Facebook -->
                  <div>
                    <h4>MVP PLANS</h4>
                    <p><a href="#">CTA Learn More</a></p>
                  </div>
                  <!-- Google+ -->
                  <div>
                    <h4>MOPAR ACCESSORIES</h4>
                    <p><a href="https://plus.google.com/101523111550453173471/posts">Follow Zozo UI on Google+</a></p>
                  </div>
                  <!-- Pinterest -->
                  <div>
                    <h4>MAGNETI MARELLI RETAIL PARTS</h4>
                    <p><a href="#">Learn More</a></p>
                  </div>
                  <div>
                    <h4>wiAdvisor</h4>
                    <p><a href="#">Learn More</a></p>
                  </div>
                  <div>
                    <h4>EXPRESS LANES</h4>
                    <p><a href="#">Learn More</a></p>
                  </div>

                </div>
              </div>
              <!-- Zozo Tabs 2 (nested) End-->
            </div>

            <!-- Themes -->
            <div>
              <!-- Zozo Tabs 2 (nested) Start-->
              <div class="nested-tabs">

                <!-- Nested Tab Navigation Menu -->
                <ul>
                  <li><a>MOPAR PARTS & ENGINES</a></li>
                  <li><a>MVP PLANS</a></li>
                  <li><a>MOPAR ACCESSORIES</a></li>
                  <li><a>MAGNETI MARELLI RETAIL PARTS</a></li>
                  <li><a>wiADVISOR</a></li>
                  <li><a>EXPRESS LANE</a></li>
                </ul>

                <!-- Nested Content container -->
                <div>
                  <!-- Twitter -->
                  <div>
                    <h4>MOPAR PARTS &amp; ENGINES</h4>
                    <p> Transmissions/Trans Axles/T-Cases $20.00</p>
                    <p> Brake Pads (OE, MM) $1.00</p>
                    <p> Mopar Engines $40.00</p>
                    <p> N45 & N46 Recall Rewards $10.00</p>
                  </div>
                  <!-- Facebook -->
                  <div>
                    <h4>MVP PLANS</h4>
                    <p><a href="#">CTA Learn More</a></p>
                  </div>
                  <!-- Google+ -->
                  <div>
                    <h4>MOPAR ACCESSORIES</h4>
                    <p><a href="https://plus.google.com/101523111550453173471/posts">Follow Zozo UI on Google+</a></p>
                  </div>
                  <!-- Pinterest -->
                  <div>
                    <h4>MAGNETI MARELLI RETAIL PARTS</h4>
                    <p><a href="#">Learn More</a></p>
                  </div>
                  <div>
                    <h4>wiAdvisor</h4>
                    <p><a href="#">Learn More</a></p>
                  </div>
                  <div>
                    <h4>EXPRESS LANES</h4>
                    <p><a href="#">Learn More</a></p>
                  </div>

                </div>
              </div>
              <!-- Zozo Tabs 2 (nested) End-->
            </div>

            <!-- Support -->
            <div class="z-content-pad">
              <!-- Zozo Tabs 3 (nested) Start-->
              <div class="nested-tabs">

                <!-- Nested Tab Navigation Menu -->
                <ul>
                  <li><a>Docs</a></li>
                  <li><a>Blog</a></li>
                  <li><a>Knowledge Base</a></li>
                  <li><a>Forums</a></li>
                </ul>

                <!-- Nested Content container -->
                <div>
                  <!-- Docs -->
                  <div>
                    <h4>Documentation</h4>
                    <p>The following default options are provided by the plugin. They can be overridden and customized by passing
                      options object to the initialization of the pluqin and by using HTML5 data attributes on the container
                      element.</p>
                  </div>
                  <!-- Blog -->
                  <div>
                    <h4>Blog</h4>
                    <p>Zozo Tabs comes with complete API. Check it out at zozoui.com</p>
                  </div>
                  <!-- Knowledge Base -->
                  <div>
                    <h4>Knowledge Base</h4>
                    <p>Zozo Tabs comes with complete API. Check it out at zozoui.com</p>
                  </div>
                  <!-- Forums -->
                  <div>
                    <h4>Forums</h4>
                    <p>Zozo Tabs comes with complete API. Check it out at zozoui.com</p>
                  </div>

                </div>
              </div>
              <!-- Zozo Tabs 3 (nested) End-->

            </div>

            <!-- Purchase -->
            <div>
              <h4>Purchase</h4>
              <p><a href="http://codecanyon.net/item/zozo-tabs/3327836?ref=ZozoUI">Get Zozo Tabs from CodeCanyon.net</a></p>
            </div>

          </div>

        </div>
        <!-- Zozo Tabs End-->

      </div>
    </div>
  </div>

  <a name="dashboard"></a>
  <div class="container m-t-md">
    <!-- First row -->

    <div class="row m-t-md">
      <div class="col-xs-12 col-md-6">
        <!-- Card -->
        <article class="card animated fadeInUp">
          <div class="card-block">
            <h4 class="card-title">ENROLLMENT</h4>
            <h6 class="text-muted">ALL PROGRAMS</h6>
            <!-- ROW -->
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <div class="card card-inverse card-primary">
                  <div class="card-block">
                    <div class="h1 text-muted text-right mb-2">
                      <i class="icon-user-following"></i>
                    </div>
                    <div class="h4 mb-0">1238</div>
                    <small class="text-muted text-uppercase font-weight-bold">Active Employees</small>
                    <div class="progress progress-xs mt-1 mb-0">
                      <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-6">
                <div class="card card-inverse card-primary">
                  <div class="card-block">
                    <div class="h1 text-muted text-right mb-2">
                      <i class="icon-user-following"></i>
                    </div>
                    <div class="h4 mb-0">1238</div>
                    <small class="text-muted text-uppercase font-weight-bold">Express Lane Enrolled</small>
                    <div class="progress progress-xs mt-1 mb-0">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 15%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END ROW -->
            </div>
            <!-- ROW -->
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <div class="card card-inverse card-primary">
                  <div class="card-block">
                    <div class="h1 text-muted text-right mb-2">
                      <i class="icon-user-following"></i>
                    </div>
                    <div class="h4 mb-0">1238</div>
                    <small class="text-muted text-uppercase font-weight-bold">Parts Counter Enrolled</small>
                    <div class="progress progress-xs mt-1 mb-0">
                      <div class="progress-bar bg-success" role="progressbar" style="width: 65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-6">
                <div class="card card-inverse card-primary">
                  <div class="card-block">
                    <div class="h1 text-muted text-right mb-2">
                      <i class="icon-user-following"></i>
                    </div>
                    <div class="h4 mb-0">6538</div>
                    <small class="text-muted text-uppercase font-weight-bold">Used Car Managers Enrolled</small>
                    <div class="progress progress-xs mt-1 mb-0">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 45%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END ROW -->
            </div>
            <div class="row">
              <!--ROW -->
              <div class="col-sm-12 col-md-12">
                <a href="#" class="btn btn-primary">Read more</a>
              </div>
            </div>
            <!-- END ROW -->
          </div>
        </article>
        <!-- .end Card -->
      </div>
      <div class="col-xs-12 col-md-6">
        <!-- Card -->
        <article class="card animated fadeInUp">
          <div class="card-block">
            <h4 class="card-title">MOPAR PART SALES </h4>
            <h6 class="text-muted">JAN 1 - FEB 21</h6>
            <!-- ROW -->
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <div class="card card-inverse card-primary">
                  <div class="card-block">
                    <div class="h1 text-muted text-right mb-2">
                      <i class="icon-settings"></i>
                    </div>
                    <div class="h4 mb-0">2238</div>
                    <small class="text-muted text-uppercase font-weight-bold">Parts Month to Date</small>
                    <div class="progress progress-xs mt-1 mb-0">
                      <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-6">
                <div class="card card-inverse card-primary">
                  <div class="card-block">
                    <div class="h1 text-muted text-right mb-2">
                      <i class="icon-settings"></i>
                    </div>
                    <div class="h4 mb-0">7638</div>
                    <small class="text-muted text-uppercase font-weight-bold">Parts Year to Date</small>
                    <div class="progress progress-xs mt-1 mb-0">
                      <div class="progress-bar bg-success" role="progressbar" style="width: 55%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END ROW -->
            </div>
            <!-- ROW -->
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <div class="card card-inverse card-primary">
                  <div class="card-block">
                    <div class="h1 text-muted text-right mb-2">
                      <i class="icon-user-following"></i>
                    </div>
                    <div class="h4 mb-0">$456,000</div>
                    <small class="text-muted text-uppercase font-weight-bold">Earnings Month to Date</small>
                    <div class="progress progress-xs mt-1 mb-0">
                      <div class="progress-bar bg-success" role="progressbar" style="width: 65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-6">
                <div class="card card-inverse card-primary">
                  <div class="card-block">
                    <div class="h1 text-muted text-right mb-2">
                      <i class="icon-user-following"></i>
                    </div>
                    <div class="h4 mb-0">$1.7 mil</div>
                    <small class="text-muted text-uppercase font-weight-bold">Earnings Year to Date</small>
                    <div class="progress progress-xs mt-1 mb-0">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 22%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END ROW -->
            </div>
            <div class="row">
              <!--ROW -->
              <div class="col-sm-12 col-md-12">
                <a href="#" class="btn btn-primary">Read more</a>
              </div>
            </div>
            <!-- END ROW -->
          </div>
        </article>
        <!-- .end Card -->
      </div>

    </div>
    <!-- .end FIRST row -->

    <!-- First row -->

    <div class="row m-t-md">
      <div class="col-xs-12 col-md-6">
        <!-- Card -->
        <article class="card animated fadeInUp">
          <div class="card-block">
            <h4 class="card-title">MVP Plan Sales </h4>
            <h6 class="text-muted">ALL PROGRAMS</h6>
            <!-- ROW -->
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <div class="card card-inverse card-primary">
                  <div class="card-block">
                    <div class="h1 text-muted text-right mb-2">
                      <i class="icon-user-following"></i>
                    </div>
                    <div class="h4 mb-0">1238</div>
                    <small class="text-muted text-uppercase font-weight-bold">Active Employees</small>
                    <div class="progress progress-xs mt-1 mb-0">
                      <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-6">
                <div class="card card-inverse card-primary">
                  <div class="card-block">
                    <div class="h1 text-muted text-right mb-2">
                      <i class="icon-user-following"></i>
                    </div>
                    <div class="h4 mb-0">1238</div>
                    <small class="text-muted text-uppercase font-weight-bold">Express Lane Enrolled</small>
                    <div class="progress progress-xs mt-1 mb-0">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 15%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END ROW -->
            </div>
            <!-- ROW -->
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <div class="card card-inverse card-primary">
                  <div class="card-block">
                    <div class="h1 text-muted text-right mb-2">
                      <i class="icon-user-following"></i>
                    </div>
                    <div class="h4 mb-0">1238</div>
                    <small class="text-muted text-uppercase font-weight-bold">Parts Counter Enrolled</small>
                    <div class="progress progress-xs mt-1 mb-0">
                      <div class="progress-bar bg-success" role="progressbar" style="width: 65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-6">
                <div class="card card-inverse card-primary">
                  <div class="card-block">
                    <div class="h1 text-muted text-right mb-2">
                      <i class="icon-user-following"></i>
                    </div>
                    <div class="h4 mb-0">6538</div>
                    <small class="text-muted text-uppercase font-weight-bold">Used Car Managers Enrolled</small>
                    <div class="progress progress-xs mt-1 mb-0">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 45%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END ROW -->
            </div>
            <div class="row">
              <!--ROW -->
              <div class="col-sm-12 col-md-12">
                <a href="#" class="btn btn-primary">Read more</a>
              </div>
            </div>
            <!-- END ROW -->
          </div>
        </article>
        <!-- .end Card -->
      </div>
      <div class="col-xs-12 col-md-6">
        <!-- Card -->
        <article class="card animated fadeInUp">
          <div class="card-block">
            <h4 class="card-title">MAGNETTI MARELLI </h4>
            <h6 class="text-muted">JAN 1 - FEB 21</h6>
            <!-- ROW -->
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <div class="card card-inverse card-primary">
                  <div class="card-block">
                    <div class="h1 text-muted text-right mb-2">
                      <i class="icon-settings"></i>
                    </div>
                    <div class="h4 mb-0">2238</div>
                    <small class="text-muted text-uppercase font-weight-bold">Parts Month to Date</small>
                    <div class="progress progress-xs mt-1 mb-0">
                      <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-6">
                <div class="card card-inverse card-primary">
                  <div class="card-block">
                    <div class="h1 text-muted text-right mb-2">
                      <i class="icon-settings"></i>
                    </div>
                    <div class="h4 mb-0">7638</div>
                    <small class="text-muted text-uppercase font-weight-bold">Parts Year to Date</small>
                    <div class="progress progress-xs mt-1 mb-0">
                      <div class="progress-bar bg-success" role="progressbar" style="width: 55%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END ROW -->
            </div>
            <!-- ROW -->
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <div class="card card-inverse card-primary">
                  <div class="card-block">
                    <div class="h1 text-muted text-right mb-2">
                      <i class="icon-user-following"></i>
                    </div>
                    <div class="h4 mb-0">$456,000</div>
                    <small class="text-muted text-uppercase font-weight-bold">Earnings Month to Date</small>
                    <div class="progress progress-xs mt-1 mb-0">
                      <div class="progress-bar bg-success" role="progressbar" style="width: 65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-6">
                <div class="card card-inverse card-primary">
                  <div class="card-block">
                    <div class="h1 text-muted text-right mb-2">
                      <i class="icon-user-following"></i>
                    </div>
                    <div class="h4 mb-0">$1.7 mil</div>
                    <small class="text-muted text-uppercase font-weight-bold">Earnings Year to Date</small>
                    <div class="progress progress-xs mt-1 mb-0">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 22%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END ROW -->
            </div>
            <div class="row">
              <!--ROW -->
              <div class="col-sm-12 col-md-12">
                <a href="#" class="btn btn-primary">Read more</a>
              </div>
            </div>
            <!-- END ROW -->
          </div>
        </article>
        <!-- .end Card -->
      </div>

    </div>
    <!-- .end FIRST row -->
    <!-- First row -->

    <div class="row m-t-md">
      <div class="col-xs-12 col-md-6">
        <!-- Card -->
        <article class="card animated fadeInUp">
          <div class="card-block">
            <h4 class="card-title">WHOLESALE PARTS </h4>
            <h6 class="text-muted">ALL PROGRAMS</h6>
            <!-- ROW -->
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <div class="card card-inverse card-primary">
                  <div class="card-block">
                    <div class="h1 text-muted text-right mb-2">
                      <i class="icon-user-following"></i>
                    </div>
                    <div class="h4 mb-0">1238</div>
                    <small class="text-muted text-uppercase font-weight-bold">Active Employees</small>
                    <div class="progress progress-xs mt-1 mb-0">
                      <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-6">
                <div class="card card-inverse card-primary">
                  <div class="card-block">
                    <div class="h1 text-muted text-right mb-2">
                      <i class="icon-user-following"></i>
                    </div>
                    <div class="h4 mb-0">1238</div>
                    <small class="text-muted text-uppercase font-weight-bold">Express Lane Enrolled</small>
                    <div class="progress progress-xs mt-1 mb-0">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 15%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END ROW -->
            </div>
            <!-- ROW -->
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <div class="card card-inverse card-primary">
                  <div class="card-block">
                    <div class="h1 text-muted text-right mb-2">
                      <i class="icon-user-following"></i>
                    </div>
                    <div class="h4 mb-0">1238</div>
                    <small class="text-muted text-uppercase font-weight-bold">Parts Counter Enrolled</small>
                    <div class="progress progress-xs mt-1 mb-0">
                      <div class="progress-bar bg-success" role="progressbar" style="width: 65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-6">
                <div class="card card-inverse card-primary">
                  <div class="card-block">
                    <div class="h1 text-muted text-right mb-2">
                      <i class="icon-user-following"></i>
                    </div>
                    <div class="h4 mb-0">6538</div>
                    <small class="text-muted text-uppercase font-weight-bold">Used Car Managers Enrolled</small>
                    <div class="progress progress-xs mt-1 mb-0">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 45%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END ROW -->
            </div>
            <div class="row">
              <!--ROW -->
              <div class="col-sm-12 col-md-12">
                <a href="#" class="btn btn-primary">Read more</a>
              </div>
            </div>
            <!-- END ROW -->
          </div>
        </article>
        <!-- .end Card -->
      </div>
      <div class="col-xs-12 col-md-6">
        <!-- Card -->
        <article class="card animated fadeInUp">
          <div class="card-block">
            <h4 class="card-title">EXPRESS LANE </h4>
            <h6 class="text-muted">JAN 1 - FEB 21</h6>
            <!-- ROW -->
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <div class="card card-inverse card-primary">
                  <div class="card-block">
                    <div class="h1 text-muted text-right mb-2">
                      <i class="icon-settings"></i>
                    </div>
                    <div class="h4 mb-0">2238</div>
                    <small class="text-muted text-uppercase font-weight-bold">Parts Month to Date</small>
                    <div class="progress progress-xs mt-1 mb-0">
                      <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-6">
                <div class="card card-inverse card-primary">
                  <div class="card-block">
                    <div class="h1 text-muted text-right mb-2">
                      <i class="icon-settings"></i>
                    </div>
                    <div class="h4 mb-0">7638</div>
                    <small class="text-muted text-uppercase font-weight-bold">Parts Year to Date</small>
                    <div class="progress progress-xs mt-1 mb-0">
                      <div class="progress-bar bg-success" role="progressbar" style="width: 55%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END ROW -->
            </div>
            <!-- ROW -->
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <div class="card card-inverse card-primary">
                  <div class="card-block">
                    <div class="h1 text-muted text-right mb-2">
                      <i class="icon-user-following"></i>
                    </div>
                    <div class="h4 mb-0">$456,000</div>
                    <small class="text-muted text-uppercase font-weight-bold">Earnings Month to Date</small>
                    <div class="progress progress-xs mt-1 mb-0">
                      <div class="progress-bar bg-success" role="progressbar" style="width: 65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-6">
                <div class="card card-inverse card-primary">
                  <div class="card-block">
                    <div class="h1 text-muted text-right mb-2">
                      <i class="icon-user-following"></i>
                    </div>
                    <div class="h4 mb-0">$1.7 mil</div>
                    <small class="text-muted text-uppercase font-weight-bold">Earnings Year to Date</small>
                    <div class="progress progress-xs mt-1 mb-0">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 22%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END ROW -->
            </div>
            <div class="row">
              <!--ROW -->
              <div class="col-sm-12 col-md-12">
                <a href="#" class="btn btn-primary">Read more</a>
              </div>
            </div>
            <!-- END ROW -->
          </div>
        </article>
        <!-- .end Card -->
      </div>

    </div>
    <!-- .end FIRST row -->
  </div>

</main>
