  <div class="app-body">
    <div class="sidebar">
      <nav class="sidebar-nav">
        <ul class="nav">
          <li class="nav-title text-center">
            <span>Dashboard</span>
          </li>
          <li class="nav-item"><a class="nav-link" href="#payoutchart"><i class="icon-info"></i>Payout Chart<span class="badge badge-info">NEW</span></a></li>
          <li class="nav-item">
            <a class="nav-link" href="#dashboard"><i class="icon-speedometer"></i> Dashboard </a>
          </li>
          <li class="divider"></li>
          <li class="nav-title text-center">
            <span>Resources</span>
          </li>
          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-user-following"></i> Enrollment </a>
            <ul class="nav-dropdown-items">
              <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>OP Code Setup</a></li>
              <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>MSER Rules</a></li>
              <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>Enrollment Report</a></li>
              <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>Enrollment Form</a></li>
            </ul>
          </li>
          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-star"></i>Marketing</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>Home</a></li>
              <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>Recall Reward Rules</a></li>
              <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>Marketing Programs</a></li>
              <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>Training</a></li>
            </ul>
          </li>
          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-graph"></i>Reports</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>MSER</a></li>
              <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>BC Reports</a></li>
              <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>BOOST</a></li>
              <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>Parts</a></li>
              <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>Accessories</a></li>
              <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>MVP</a></li>
              <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>Express Lane</a></li>
              <li class="nav-item"><a class="nav-link" href="#"><i class="icon-puzzle"></i>Parts Counter</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link" href="#"><i class="icon-badge"></i>MSER</a></li>
          <li class="nav-item"><a class="nav-link" href="#"><i class="icon-graph"></i>BC Reports</a></li>
          <li class="nav-item"><a class="nav-link" href="#"><i class="icon-doc"></i>BOOST</a></li>
          <li class="nav-item"><a class="nav-link" href="#"><i class="icon-doc"></i>Parts</a></li>
          <li class="nav-item"><a class="nav-link" href="#"><i class="icon-doc"></i>Accessories</a></li>
          <li class="nav-item"><a class="nav-link" href="#"><i class="icon-doc"></i>MVP</a></li>
          <li class="nav-item"><a class="nav-link" href="#"><i class="icon-doc"></i>Express Lane</a></li>
          <li class="nav-item"><a class="nav-link" href="#"><i class="icon-doc"></i>Parts Counter</a></li>
          <li class="nav-item"></li>


        </ul>
      </nav>
    </div>
  </div>
  <script>
    jQuery(document).ready(function ($) {
        /* jQuery activation and setting options for parent tabs with id selector*/
        $("#tabbed-nav").zozoTabs({
            rounded: false,
            multiline: true,
            theme: "white",
            size: "medium",
            responsive: true,
            animation: {
                effects: "slideH",
                easing: "easeInOutCirc",
                type: "jquery"
            },
            defaultTab: "tab2",
            orientation: "horizontal"
        });

        /* jQuery activation and setting options for nested tabs with class selector*/
        $(".nested-tabs").zozoTabs({
            position: "top-left",
            theme: "red",
            style: "underlined",
            rounded: false,
            shadows: false,
            defaultTab: "tab1",
            animation: {
                easing: "easeInOutCirc",
                effects: "slideV"
            },
            size: "medium"
        });
    });
</script>