<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden  pace-done">

  <div class="pace  pace-inactive">
    <div class="pace-progress" style="transform: translate3d(100%, 0px, 0px);" data-progress-text="100%" data-progress="99">
      <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
  </div>
  <app-mser2-header></app-mser2-header>
  <app-mser2-sidenav></app-mser2-sidenav>
  <app-mser2-body></app-mser2-body>
  <app-mser2-profile></app-mser2-profile>
  <app-mser2-footer></app-mser2-footer>


  <div class="daterangepicker dropdown-menu ltr opensleft">
    <div class="calendar left">
      <div class="daterangepicker_input"><input class="input-mini form-control" name="daterangepicker_start" type="text"><i class="fa fa-calendar glyphicon glyphicon-calendar"></i>
        <div class="calendar-time" style="display: none;">
          <div></div><i class="fa fa-clock-o glyphicon glyphicon-time"></i></div>
      </div>
      <div class="calendar-table"></div>
    </div>
    <div class="calendar right">
      <div class="daterangepicker_input"><input class="input-mini form-control" name="daterangepicker_end" type="text"><i class="fa fa-calendar glyphicon glyphicon-calendar"></i>
        <div class="calendar-time" style="display: none;">
          <div></div><i class="fa fa-clock-o glyphicon glyphicon-time"></i></div>
      </div>
      <div class="calendar-table"></div>
    </div>
    <div class="ranges">
      <ul>
        <li data-range-key="Today">Today</li>
        <li data-range-key="Yesterday">Yesterday</li>
        <li data-range-key="Last 7 Days">Last 7 Days</li>
        <li data-range-key="Last 30 Days">Last 30 Days</li>
        <li data-range-key="This Month">This Month</li>
        <li data-range-key="Last Month">Last Month</li>
        <li data-range-key="Custom Range">Custom Range</li>
      </ul>
      <div class="range_inputs"><button class="applyBtn btn btn-sm btn-success" disabled="disabled" type="button">Apply</button> <button class="cancelBtn btn btn-sm btn-default"
          type="button">Cancel</button></div>
    </div>
  </div>

</body>